<html>
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
      .is_gs {
        color: green;
      }
      .no_gs {
        
      }
    </style>
  </head>

  <body>
    <div class="container">
      <table class="table table-bordered">
	<thead><tr>
	  <th>Query term</th>
	  <th>Ranking Results</th>
	</tr></thead>
	
	<tbody>
	  {% for query_result in query_results %}
	  <tr>
	    <td>{{query_result["term"]}}</td>
	    <td>
	      {% for ranked_result in query_result["ranked"] %}
	      {% set i = loop.index %}
	      {% if i != 1 %}, {% endif %}
	      {% if ranked_result["is_gs"] %}
	      {% set display_class = "is_gs" %}
	      {% else %}
	      {% set display_class = "no_gs" %}
	      {% endif %}
  	      <span class="{{display_class}}">{{i}}: {{ranked_result["entity"]}}</span>
	      {% endfor %}
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </body>
</html>
